* {
  width: 430px;
  margin: 0;
  padding: 0;
  font-family:"Inter";
  box-sizing: border-box;
}



/* HEADER */
header {
  width: 430px;
  height: 115px;
}

nav {
  width: 430px;
  height: 115px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #F1EAE0;
  position: fixed;
  z-index: 9999;
}

.top {
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
  height: 70px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% -25%;
  position: relative;
  top: -10px;
}

.sub {
  width: 165px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 20px;
}

.premium {
  width: 96px;
  height: 23px;
  background-color: rgba(237, 99, 54, 1);
  border-radius: 20px;
  position: relative;
  top: 27px;
}

.premium a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-decoration: none;
  color: #992600;
  position: relative;
  top: 4px;
  left: 15px;
}

.person {
  width: 49px;
  height: 49px;
  background: #8DB5AD;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 38px;
  position: relative;
  top: 14px;
  right: 8px;
  border-color: rgba(141, 181, 173, 1);
}

.person img {
  width: 30px;
  height: 30px;
  position: relative;
  top: 8.95px;
  left: 10px;
}

.bottom {
  width: 100%;
  height: 17px;
  position: relative;
  top: 10px;
  left: -10px;
}

.rectangle {
  width: 430px;
  height: 100%;
  background: #F1EAE0;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 23px; */
}

/* MAIN */
main {
  width: 100%;
  height: 800px;
  padding: 20px 10px;
  background-color: #F1EAE0;
}

.menu {
  width: 368px;
  height: 33px;
  background: rgba(141, 181, 173, 0.62);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  left: 26px;
  position: fixed;
  z-index: 9999;
}

.menu a {
  width: 122px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-decoration: none;
  color: #992600;
  position: relative;
  top: -5px;
  left: 20px;
}

#home {
  padding-left: 17px;
}

#category {
  height: 33px;
  background: rgba(237, 99, 54, 0.6);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  top: 0px;
  left: 0px;
  align-items: center;
  padding-left: 17px;
}

.label_category {
  width: 395px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 65px;
  left: 6px;
  margin-bottom: 20px;
  z-index: 1;
}

.left_label {
  width: 190px;
  height: 65px;
  background: rgba(141, 181, 173, 0.62);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.right_label {
  width: 190px;
  height: 65px;
  background: rgba(141, 181, 173, 0.62);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.label_category a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: #992600;
}

#action img {
  width: 82px;
  height: 51px;
  object-fit: cover;
  position: relative;
  top: -10px;
}

#adventure img {
  width: 70px;
  height: 65px;
  object-fit: cover;
}

#anime img {
  width: 85px;
  height: 64px;
  object-fit: cover;
}

#classics img {
  width: 90px;
  height: 80px;
  position: relative;
  left: 10px;
}

#fantasy img {
  width: 90px;
  height: 53px;
  position: relative;
  top: -2px;
  left: 12px;
  object-fit: cover;
}

#fiction img {
  width: 80px;
  height: 85px;
  position: relative;
  top: 15px;
  object-fit: cover;
}

#history img {
  width: 81px;
  height: 56px;
  position: relative;
  left: 5px;
  top: -3px;
}

#horror img {
  width: 66px;
  height: 44px;
}

#mystery img {
  width: 60px;
  height: 51px;
}

#non_fiction img {
  width: 60px;
  height: 57px;
}

#poetry img {
  width: 69px;
  height: 44px;
}

#sci_fi img {
  width: 90px;
  height: 52px;
  object-fit: cover;
}

#thriller img {
  width: 73px;
  height: 50px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

#urban img {
  width: 60px;
  height: 59px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}


/* FOOTER */
/* butuh position fixed */
footer {
  width: 430px;
  height: 39px;
  background: #F1EAE0;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  z-index: 9999;
}

.name {
  width: 171px;
  height: 29px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  color: rgba(153, 38, 0, 0.5);
  float: right;
  position: relative;
  top: 15px;
  left: 50px;
}

.name i {
  width: 1px;
  height: 1px;
  margin-right: 12px;
  position: relative;
  top: 0px;
}

