* {
    width: 430px;
    margin: 0;
    padding: 0;
    font-family:"Inter";
    box-sizing: border-box;
}

header {
    margin: 10px;
}

body {
    background: #F1EAE0;
}

.navigation {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    /* padding: 0 2rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /* padding: 0.5rem 49rem 0.5rem 5rem; */
}

.logo img {
    width: 8rem;
    height: 5rem;
    object-fit: cover;
    object-position: 0% -25%;
}

.sign_up a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #992600;
    font-weight: bold;
    font-size: 1.5rem;
}

.container1 {
    width: 85%;
    position: relative;
    margin: auto;
    z-index: 1;
}

.img_signIn {
    left: 7rem;
    position: absolute;

}

.img_signIn img {
    width: 15rem;
}

.elips1 {
    width: 253.5px;
    height: 53.13px;
    border-radius: 75vw 65% 20% 14%;
    background: #8DB5AD;
    left: 5.75rem;
    top: 10vw;
    position: absolute;
}

.textLogin {
    left: 14.25rem;
    top: 15.65rem;
    font-weight: bold;
    font-size: 1.05rem;
    color: #992600;
    position: absolute;
    z-index: 1;
}

.formulir {
    width: 35vw;
    height: 40vw;
    left: 5rem;
    top: 10rem;
    background: rgba(141, 181, 173, 0.62);
    border-radius: 1.5vw;
    position: relative;
    justify-content: center;
    align-items: center;
}

.input {
    max-width: 75rem;
    padding: 0.5rem 2.75rem 1rem 0;
    position: relative;
    left: 3vw;
    top: 10rem;
    font-size: 1.25rem;
    display: flexbox;
    flex-direction: row;
}

#username_or_email {
    width: 29vw;
    height: 5vh;
    border: 1px solid #32435F;
    border-radius: 5px;
    background-color: rgba(50, 67, 95, 0);
}

#pw {
    width: 29vw;
    height: 5vh;
    border: 1px solid #32435F;
    border-radius: 5px;
    background-color: rgba(50, 67, 95, 0);
}

.keterangan {
    font-weight: bold;
}

.keterangan ion-icon {
    color: #064c72;
    cursor: pointer;

}

.boxPW {
    display: flex;

}

.eye_closed{
    position: absolute;
    left: 75%;
    top: 3vw;
    cursor: pointer;
    z-index: 2;
}

.eye_open{
    position: absolute;
    left: 75%;
    top: 3vw;
    display: none;
    cursor: pointer;
    z-index: 1;
}

.remember {
    top: 0vw;
    font-size: 1.05vw;
}

.ellips {
    width: 5vw;
    height: 3vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 42vw;
    left: 12rem;
}

.ellips1, .ellips2 {
    width: 2vw;
    height: 2vw;
    border-radius: 3vw;
    cursor: pointer;
}

.ellips1 {
    background-color: #8DB5AD;
}

.ellips2 {
    background-color: #32435F;
}

button {
    color: #992600;
    font-weight: bold;
    background-color: #ED6336;
    width: 8rem;
    height: 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 45vw;
    left: 10.25rem;
    cursor: pointer;
}

